.app-form {
  display: flex;
  flex-direction: column;
}

.app-form__fio-group {
  box-sizing: border-box;
  width: 320px;

  order: 1;

  margin: 0 auto;
  padding: 31px 20px 26px;


  border: none;
}

.app-form__os-group {
  margin: 0 auto;
  box-sizing: border-box;
  width: 320px;

  border: none;
}

.app-form__contacts-group {
  margin: 0 auto;
  order: 3;
  box-sizing: border-box;
  width: 320px;
  padding: 32px 20px 28px;

  border: none;
}

.app-form__os-wrapper {

  padding-top: 38px;
  order: 4;
  background-color: $gray-color;
}

.app-form__progress-wrapper {
  padding-top: 37px;
  order: 2;
  background-color: $gray-color;
}

.app-form__progress-group {
  margin: 0 auto;
  box-sizing: border-box;
  width: 320px;
  padding: 35px 20px 3px;

  border: none;
}

.app-form__emotions-group {
  display: flex;
  flex-direction: column;
  order: 5;

  margin: 0 auto;
  margin-top: 38px;

  box-sizing: border-box;
  width: 320px;

  border: none;
}

.app-form__list {
  @include reset-list();
  display: flex;
  flex-direction: column;
}

.app-form__item {
  display: flex;
  flex-direction: column;
}

.app-form__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}

.app-form__value {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;

  border: 2px solid #e5e5e5;
  border-radius: 2px;
}

.app-form__title--checkable {
  display: block;
  position: relative;

  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;
  text-transform: unset;
}

.app-form__title--fio {
  margin-bottom: 7px;
  padding: 0 22px;
}

.app-form__value--fio {
  padding: 14px 5px 15px 22px;
  margin-bottom: 15px;
}

.app-form__list--os {
  padding-top: 22px;
}

.app-form__item--os {
  margin-bottom: 26px;
}

.app-form__title--os {
  padding: 10px 5px 10px 76px;
}

.app-form__value--os + .app-form__title--os {
  &::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;

    top: 7px;
    left: 6px;

    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
  }

  &:hover::before,
  &:focus::before {
    border-color: #283645;
  }

  &:active::before {
    border-color: $tomato-color;
  }
}

.app-form__value--os:checked + .app-form__title--os {
  &::after {
    position: absolute;
    content: "";

    width: 14px;
    height: 14px;

    top: 20px;
    left: 19px;

    background-color: $tomato-color;
    border-radius: 50%;
  }
}

.app-form__cont-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.app-form__title--contacts {
  display: block;
  padding: 0 22px 0;
  margin-bottom: 6px;
}

.app-form__value--contacts {
  padding: 14px 5px 15px 22px;
  margin-bottom: 15px;
}

.app-form__title--progress {
  padding: 7px 0 7px 68px;
  margin-bottom: 38px;
}

.app-form__value--progress + .app-form__title--progress {
  &::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    top: 5px;
    left: -2px;
    border: 2px solid #e5e5e5;
  }

  &:hover::before,
  &:focus::before {
    border: 2px solid #283645;
  }

  &:active::before {
    border: 2px solid $tomato-color;
  }
}

.app-form__value--progress:checked + .app-form__title--progress {
  &::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    top: 5px;
    left: -2px;
    border: 2px solid #e5e5e5;
    background-image: url("../img/icon-yes-tomato.svg");
    background-repeat: no-repeat;
    background-position: 7px 8px;
  }

  &:hover::before,
  &:focus::before {
    border: 2px solid #283645;
  }

  &:active::before {
    border: 2px solid $tomato-color;
  }
}

.app-form__emotions-wrapper {
  display: flex;
  flex-direction: column;
}

.app-form__emotions {
  position: relative;
  margin: 12px 6px 38px;
  padding: 13px 10px 15px 16px;
  min-height: 168px;

  resize: none;
  // Для скрития скрола в IE
  overflow: auto;

  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;

  border: 2px solid #e5e5e5;

  &::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;

    bottom: -2px;
    right: -2px;

    background-color: #ffffff;
  }
}

.app-form__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  width: 320px;
  padding: 0 20px;
  order: 6;
}

.app-form__button {
  margin-bottom: 26px;
}

.app-form__required {
  position: relative;
  margin: 0;
  margin-bottom: 4px;
  padding: 10px 10px 10px 22px;
  font-size: 14px;
  line-height: 30px;
  color: $dark-color;
  text-transform: uppercase;
  text-align: center;
}

.app-form__required sup {
  position: absolute;
  top: 10px;
  left: calc(50% + -92px);

  font: inherit;
  color: $tomato-color;
}

.app-form__required span {
  display: none;
}

.app-form__legend {
  margin: 0 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #d22856;

  text-align: center;
  text-transform: uppercase;
}

.app-form__legend--not-modile {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

// .app-form input:-webkit-autofill {
//   -webkit-text-fill-color: rgba(68, 68, 68, 0.5);;
//   // -webkit-box-shadow:inset 0 0 0 1000px #ffffff;
//   //         box-shadow:inset 0 0 0 1000px #ffffff;
// }

// .app-form input:-webkit-autofill:focus {
//   -webkit-text-fill-color: rgba(68, 68, 68, 1);
//   border-color: #000000;
// }

// .app-form input:-webkit-autofill:invalid {
//   -webkit-text-fill-color: #e74246;
//   border-color: #e74246;
// }


@media (min-width: $tablet-width) {
  .app-form__fio-group {
    width: $tablet-width;
    padding: 65px 20px 5px;
    order: 0;
  }

  .app-form__legend--not-modile {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
  }

  .app-form__os-wrapper {
    padding: 0;
    order: 0;
    background-color: transparent;
  }

  .app-form__os-group {
    margin: 0 auto;
    margin-bottom: 56px;
    width: $tablet-width - 40px;
    padding: 0;

    border: 2px solid  #e5e5e5;
    border-radius: 2px;
  }

  .app-form__contacts-group {
    margin: 0 auto;
    padding-bottom: 3px;
    width: $tablet-width - 40px;
    order: 0;
    border: 2px solid  #e5e5e5;
    border-radius: 2px;
  }


  .app-form__progress-wrapper {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    margin-bottom: 57px;
    padding-top: 58px;

    background-color: transparent;
    order: 0;
  }

  .app-form__progress-group {
    width: $tablet-width - 40px;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
    padding-bottom: 9px;
  }

  .app-form__emotions-group {
    width: $tablet-width - 40px;
    margin: 0 auto;
    margin-bottom: 66px;
    padding: 26px 52px 12px;
    order: 0;

    border: 2px solid #e5e5e5;
    border-radius: 2px;
  }

  .app-form__item {
    flex-direction: row;
  }

  .app-form__value {
    border-radius: 2px;
  }

  .app-form__item--fio {
    margin-bottom: 37px;
  }

  .app-form__title--fio {
    padding: 17px 5px 5px 0;
  }

  .app-form__value--fio {
    width: 100%;
    margin-left: 14px;
  }

  .app-form__list--os {
    padding: 38px 52px 22px;
  }

  .app-form__title--os {
    padding: 10px 5px 10px 65px;
  }

  .app-form__list--contacts {
    padding: 0 37px 0 38px;
  }

  .app-form__item--contacts {
    flex-direction: column-reverse;
  }

  .app-form__title--contacts {
    padding: 0 20px 0;
    margin-bottom: 22px;
  }

  .app-form__value--contacts {
    margin-bottom: 9px;
    padding-right: 75px;
  }

  .app-form__cont-wrapper {
    position: relative;
    margin-top: 8px;

    &::after {
      position: absolute;
      content: "";

      width: 60px;
      height: 60px;

      bottom: 11px;
      right: 2px;

      background-color: #e5e5e5;
      background-repeat: no-repeat;
    }
  }

  .app-form__cont-wrapper--phone {
    &::after {
      background-image: url("../img/icon-phone.svg");
      background-position: 50% 50%;
    }
  }

  .app-form__cont-wrapper--email {
    &::after {
      background-image: url("../img/icon-mail.svg");
      background-position: 50% 50%;
    }
  }

  .app-form__list--progress {
    padding-top: 6px;
  }

  .app-form__item--progress {
    margin: 0 41px;
  }

  .app-form__title--progress {
    padding-left: 57px;
  }


  .app-form__wrapper {
    display: flex;
    justify-content: space-between;
    order: 0;
    width: $tablet-width;
    margin-bottom: 22px;
  }

  .app-form__required {
    padding: 18px 0 10px 22px;
  }

  .app-form__required sup {
    top: 18px;
    left: calc(50% + -85px);
  }

  .app-form__legend {
    padding: 0 27px;

    font-size: 14px;
  }

  .app-form__emotions {
    min-height: 161px;

    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .app-form {
    box-sizing: border-box;
    width: 960px;

    margin: 0 auto;
    padding: 0 10px;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .app-form__legend {
    font-size: 14px;
  }

  .app-form__fio-group {
    width: 50%;
    padding: 5px 34px 5px 0;
    margin-top: 49px;
  }

  .app-form__os-wrapper {
    box-sizing: border-box;
    width: 50%;
    padding-left: 36px;
    margin-top: 40px;
  }

  .app-form__os-group {
    width: auto;
    margin-bottom: 58px;
  }

  .app-form__contacts-group {
    width: $desktop-width - 20px;
    margin-top: 0;
    padding-top: 30px;
  }

  .app-form__progress-wrapper {
    width: $desktop-width - 20px;
  }

  .app-form__progress-group {
    width: auto;
    padding-right: 0;
  }

  .app-form__emotions-group {
    width: $desktop-width - 20px;
    padding-top: 22px;
    padding-bottom: 5px;
    margin-bottom: 64px;
  }


  .app-form__list--os {
    padding: 38px 69px 22px;
  }

  .app-form__list--contacts {
    flex-direction: row;
    justify-content: space-between;
  }

  .app-form__item--contacts {
    width: calc(50% - 35px);
  }

  .app-form__cont-wrapper {
    margin-top: 5px;
  }

  .app-form__title--contacts {
    margin-bottom: 11px;
  }

  .app-form__list--progress {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 4px 0 7px 39px;
  }

  .app-form__item--progress {
    margin: 0;
    margin-right: 46px;
    width: 260px;

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 4;
    }

    &:nth-child(3) {
      order: 2;
    }

    &:nth-child(4) {
      order: 5;
    }

    &:nth-child(5) {
      order: 3;
      margin-right: 0;
    }

    &:nth-child(6) {
      order: 6;
      margin-right: 0;
    }
  }

  .app-form__emotions {
    min-height: 96px;
    font-size: 18px;
  }

  .app-form__wrapper {
    width: $desktop-width - 20px;
    margin-bottom: 0;
    padding: 0;
  }

  .app-form__required span {
    display: inline;
  }

  .app-form__required sup {
    left: 9px;
  }

  .app-form__button {
    margin-bottom: 0;
  }
}
