.app-os__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;
}

@media (min-width: $tablet-width) {
  .app-os__title {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .app-os__title {
    font-size: 18px;
  }
}
