.app-download {
  display: flex;
  flex-direction: column;

  margin-top: -69px;

  background-color: #1d2631;
}

.app-download__container {
  margin: 0 auto;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 0% 176px, 50% 0;
  background-size: auto, contain;
}

.app-download__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-top: 80px;
  min-height: 252px;
  padding: 7px 19px 0 20px;
  box-sizing: border-box;
}

.app-download__slogan {
  margin: 0;
  margin-bottom: 340px;
  font-size: 24px;
  font-weight: 300;
  color: $white-text;

  text-align: center;
}

.app-download__link {
  display: block;
  padding: 15px 36px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $white-text;
  text-decoration: none;

  border: 3px solid #ffffff;
  border-radius: 26px;

  &:hover,
  &:focus {
    color: $tomato-color;
    background-color: #ffffff;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
    background-color: #ffffff;
  }
}

.app-download__list {
  @include reset-list();
  display: flex;
  margin: 31px 29px 0;
  justify-content: space-between;
}

.app-download__item a {
  display: block;
  width: 65px;
  height: 65px;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &:hover,
  &:focus {
    outline: 1px solid $tomato-color;
  }
}

.app-download__item--macos a {
  background-image: url("../../img/logo-apple.svg");
}

.app-download__item--android a {
  background-image: url("../img/logo-android.svg");
}

.app-download__item--windows a {
  background-image: url("../img/logo-microsoft.svg");
}

.app-download__intro {
  margin-bottom: 30px;

  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $white-text;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .app-download {
    margin-top: -113px;
  }

  .app-download__container {
    display: flex;
    justify-content: center;
    min-height: 618px;
    margin: 0;

    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-position: 49% 98%, 50% 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
  }

  .app-download__wrapper {
    min-height: 526px;
    padding: 0 10px;
    margin-top: 204px;
    margin-right: 322px;
    box-sizing: border-box;
  }

  .app-download__link {
    padding: 15px 25px 15px 47px;
  }

  .app-download__slogan {
    display: block;
    margin: 0;
    padding: 0 45px 10px;
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
  }

  .app-download__intro {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
  }

  .app-download__list {
    margin: 44px 37px 12px;
  }
}

@media (min-width: $desktop-width) {
  .app-download {
    margin-top: -108px;
  }

  .app-download__container {
    min-height: 852px;
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-position: calc(50% + 70px)  100%, 50% 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
  }

  .app-download__wrapper {
    min-height: 623px;
    margin-top: 216px;
    margin-right: 638px;
  }

  .app-download__slogan {
    padding: 0 24px 10px 24px;
    margin-bottom: 44px;
    font-weight: 300;
    font-size: 50px;
    line-height: 60px;
  }

  .app-download__list {
    margin: 64px 37px 31px;
  }
}
