.app-download {
  display: flex;
  flex-direction: column;

  background-color: #1d2631;
}

.app-download__container {
  margin: 0 auto;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.app-download__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-top: 80px;
  min-height: 252px;
  padding-top: 7px;
  box-sizing: border-box;
}

.app-download__slogan {
  margin: 0 19px 22px 20px;

  font-size: 24px;
  font-weight: 300;
  color: $white-text;

  text-align: center;
}

.app-download__link {
  display: block;
  margin: 0 19px 0 20px;
  padding: 15px 36px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $white-text;
  text-decoration: none;

  border: 3px solid #ffffff;
  border-radius: 26px;

  &:hover,
  &:focus {
    color: $tomato-color;
    background-color: #ffffff;
  }

  &:focus {
    outline: 1px solid #d22856;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
    background-color: #ffffff;
  }
}

.app-download__image-wrapper {
  margin-bottom: 24px;
}

.app-download__list {
  @include reset-list();
  display: flex;
  margin: 30px 48px 16px 49px;
  justify-content: space-between;
}

.app-download__item-link {
  display: block;
  width: 65px;
  height: 65px;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &:hover,
  &:focus {
    outline: 1px solid $tomato-color;
  }
}

.app-download__item-link--macos {
  background-image: url("../img/logo-apple.svg");
}

.app-download__item-link--android {
  background-image: url("../img/logo-android.svg");
}

.app-download__item-link--windows {
  background-image: url("../img/logo-microsoft.svg");
}

.app-download__intro {
  margin: 0 19px 30px 20px;

  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $white-text;
  text-align: center;
}

//Стили для меню
.app-download--closed .app-download__container {
  margin: 0 auto;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.app-download--closed .app-download__wrapper {
  margin-top: 79px;
}

.app-download--opened .app-download__container {
  margin: 0 auto;
  padding-top: 2px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -67px;
  background-size: contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.app-download--opened .app-download__wrapper {
  margin-top: 13px;
}
//Конец - Стили для меню


@media (min-width: $tablet-width) {
  .app-download__container {
    display: flex;
    justify-content: center;
    min-height: 738px;
    margin: 0;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 1200px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-position: 50% calc(100% + 2px);
    }
  }

  .app-download__wrapper {
    position: relative;
    min-height: 526px;
    padding: 0 10px;
    margin-top: 204px;
    margin-right: 322px;
    box-sizing: border-box;
  }

  .app-download__link {
    position: relative;
    z-index: 10;
    padding: 15px 25px 15px 47px;
    margin: 0;
  }

  .app-download__slogan {
    position: relative;
    display: block;
    z-index: 10;
    margin: 0;
    padding: 0 45px 10px;
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
  }

  .app-download__image-wrapper {
    position: absolute;
    width: 660px;
    margin-bottom: 0;
    bottom: 0;
    left: -29px;
    overflow-x: hidden;
  }

  .app-download__image {
    display: block;
    width: 700px;
    height: auto;
  }

  .app-download__intro {
    position: relative;
    z-index: 10;
    padding-top: 18px;
    margin: 0 0 30px;

    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
  }

  .app-download__list {
    position: relative;
    z-index: 10;
    margin: 44px 37px 12px;
  }
  //Стили для меню
  .app-download--closed .app-download__container {
    min-height: 730px;
    margin: 0;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 1200px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-position: 50% calc(100% + 2px);
    }
  }

  .app-download--opened .app-download__container {
    min-height: 614px;
    margin: 0;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 1200px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-position: 50% calc(100% + 2px);
    }
  }

  .app-download--closed .app-download__wrapper {
    margin-top: 204px;
  }

  .app-download--opened .app-download__wrapper {
    margin-top: 89px;
  }
  //Конец - Стили для меню
}

@media (min-width: $desktop-width) {
  .app-download__image-wrapper {
    width: 890px;
    left: 25px;
  }

  .app-download__image {
    width: 1050px;
  }
  //Стили для меню
  .app-download--opened .app-download__container,
  .app-download--closed .app-download__container {

    min-height: 852px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 2560px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-position: 50% calc(100% + 12px);
    }
  }

  .app-download--opened .app-download__wrapper,
  .app-download--closed .app-download__wrapper {
    margin-top: 216px;
  }
  //Конец - стили для меню

  .app-download__wrapper {
    min-height: 623px;
    margin-top: 216px;
    margin-right: 638px;
  }

  .app-download__slogan {
    padding: 0 24px 10px 24px;
    margin-bottom: 44px;
    font-weight: 300;
    font-size: 50px;
    line-height: 60px;
  }

  .app-download__list {
    margin: 64px 37px 31px;
  }

  .app-download__link {
    padding: 15px 25px 15px 29px;

    font-size: 21px;
    line-height: 18px;
  }
}
