.app-download {
  display: flex;
  flex-direction: column;
  background-color: #1d2631;
}

.app_download__container {
  // min-height: 462px;
  margin: 0 auto;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 0% 110px, 50% -67px;
  background-size: auto, contain;
}

// .app-download__image {
//   margin-top: 110px;
// }

// .app-download__center {
//   display: flex;
//   justify-content: center;
//   margin: 0 auto;
//   margin-top: 395px;
//   background-color: #1d2631;
// }

.app-download__wrapper {
  width: 320px;
  margin-top: 400px;
  min-height: 252px;
  padding: 0 19px 0 20px;
  box-sizing: border-box;
}

.app-download__slogan {
  display: none;
  font-size: 40px;
  font-weight: 300;
  line-height: 50px;
  color: $white-text;
}

.app-download__link {
  font-weight: 700;
  font-size: 21px;
  line-height: 18px;
  color: $white-text;
  text-decoration: none;
}

.app-download__list {
  @include reset-list();
  display: flex;
}

.app-download__intro {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $white-text;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .app_download__container {
    display: flex;
    justify-content: center;
    min-height: 618px;
    margin: 0;

    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-position: 49% 98%, 50% 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
  }

  // .app-download__center {
  //   justify-content: flex-start;
  //   margin: 91px 337px 0 0;
  //   background-color: transparent;
  // }

  .app-download__wrapper {
    min-height: 526px;
    padding: 0 10px;
    margin-top: 92px;
    margin-right: 339px;
    box-sizing: border-box;
  }

  .app-download__slogan {
    display: block;
    margin: 0;
    padding: 0 45px 10px 63px;
    margin-bottom: 18px;
    text-align: center;
  }

  .app-download__intro {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .app_download__container {
    min-height: 852px;
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-position: calc(50% + 70px)  100%, 50% 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
  }

  // .app-download__center {
  //   margin: 216px 637px 0 0;
  // }

  .app-download__wrapper {
    min-height: 623px;
    margin-top: 216px;
    margin-right: 638px;
  }

  .app-download__slogan {
    padding: 0 24px 10px 24px;
    font-weight: 300;
    font-size: 50px;
    line-height: 60px;
  }
}
