.contacts {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts__wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 28px;
  width: 320px;
  padding: 0 5px;
}

.contacts__map-wrapper {
  position: relative;
  height: 200px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }
}

.contacts__map-wrapper::before {
  position: absolute;
  content: "";
  z-index: 10;
  width: 100%;
  height: 36px;
  background-color: transparent;
  background-image: url("../img/bg-triangle-white-footer-ratio.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts__title {
  margin: 0;
  padding: 41px 10px 10px;
  font-size: 24px;
  font-weight: 300;
  color: $dark-color;
  text-align: center;
}

.contacts__list {
  @include reset-list();
}

.contacts__item {
  padding: 16px 40px 6px;
}

.contacts__name {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: $dark-color;
  text-align: center;
}

.contacts__value {
  margin: 0;
  text-align: center;
}

.contacts__link {
  font-weight: 300;
  font-size: 24px;
  color: $tomato-color;
}

.contacts__link--interactive {
  &:hover,
  &:focus {
    color: $dark-color;
  }

  &:active {
    color: rgba($dark-color, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    width: $tablet-width;
    margin-bottom: 0;
  }

  .contacts__triangle {
    height: 69px;
  }

  .contacts__map-wrapper {
    height: 375px;

    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position-y: 75%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }

    &::before {
      height: 69px;
      background-size: 100% 69px;
    }
  }

  .contacts__title {
    padding: 42px 60px 18px;

    font-size: 40px;
    font-weight: 300;
    line-height: 52px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 0;
  }

  .contacts__item {
    box-sizing: border-box;
    width: 315px;
    padding: 15px 40px 25px;
  }

  .contacts__name {
    padding-top: 7px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    width: $desktop-width;
    margin-bottom: 6px;
  }

  .contacts__title {
    padding: 58px 128px 17px;
    font-size: 50px;
    font-weight: 300;
    line-height: 64px;
  }

  .contacts__list {
    padding-bottom: 25px;
  }

  .contacts__item {
    padding: 28px 40px 5px;
  }

  .contacts__item--last {
    order: 2;
  }

  .contacts__name {
    padding-bottom: 20px;
  }

  .contacts__map-wrapper {
    height: 481px;

    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-position-y: 60%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }

    &::before {
      height: 83px;
      background-size: 100% 83px;
    }
  }
}
