.copyright {
  display: flex;
}

.copyright__developed {
  font-size: 14px;
  line-height: 18px;
  color: $dark-color;
  background-color: #ffffff;
  margin: 0;
  padding: 10px 0 0;
  margin-right: 7px;
}

.copyright__link-svg {
  margin: 4px 4px 0;

  width: 34px;
  height: 34px;
}

.copyright__link {
  display: flex;
  margin-top: 9px;
  color: $tomato-color;

  &:hover,
  &:focus {
    color: $dark-color;
  }

  &:active {
    color: rgba($dark-color, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .copyright__developed {
    padding-top: 6px;

    font-size: 18px;
    line-height: 18px;
  }
}
