.effect {
  display: none;
}

@media (min-width: $tablet-width) {
  .effect {
    display: block;
    background-color: #ffffff;
  }

  .effect__center {
    display: flex;
    justify-content: flex-end;
    width: $tablet-width - 40px;
    padding: 0 20px;
    margin: 0 auto;
    padding-top: 3px;
  }

  .effect__timer {
    width: 266px;
    height: 209px;

    margin: 0;
    padding: 131px 0 0 63px;

    font-size: 96px;
    font-weight: 700;
    line-height: 149.5px;
    color: $tomato-color;

    background-image: url("../img/icon-timer-tablet.svg");
    background-repeat: no-repeat;
    background-position: 0 55px;
  }

  .effect__wrapper {
    margin: 0 0 50px auto;
    box-sizing: border-box;
    width: 360px;
  }

  .effect__title {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 93px 10px 0 10px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }

  .effect__description {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
    color: $dark-color;
  }

  .effect__description br {
    display: none;
  }

  .effect__link {
    padding: 0 10px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 24px;
    color: $tomato-color;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $dark-color;
    }

    &:active {
      color: rgba($dark-color, 0.3);
    }
  }
}

@media (min-width: $desktop-width) {
  .effect {
    background-color: #f2f2f2;
  }

  .effect__center {
    width: $desktop-width;
    padding: 0;
  }

  .effect__wrapper {
    width: 660px;
    margin-bottom: 112px;
  }

  .effect__timer {
    height: 285px;
    width: 238px;
    padding: 161px 0 0 87px;

    font-size: 120px;
    line-height: 187px;

    background-image: url("../img/icon-timer-desktop.svg");
    background-position: 9px 66px;
  }

  .effect__title {
    display: block;
    padding: 160px 20px 0 54px;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 30px;
  }

  .effect__description {
    display: block;
    padding: 8px 55px 0 58px;
    margin-bottom: 33px;
    font-size: 18px;
    line-height: 30px;
  }

  .effect__description br {
    display: inline;
  }

  .effect__link {
    font-size: 18px;
    line-height: 30px;
    padding-left: 55px;
  }
}
