

.features__question {
  margin: 0;
  padding: 37px 50px 5px 50px;
  font-weight: 300;
  font-size: 24px;
  color: $dark-color;
  text-align: center;
  background-color: #ffffff;
}

.features__answer {
  margin: 0;
  padding: 16px 50px 5px 50px;
  font-weight: 300;
  font-size: 24px;
  color: $dark-color;
  text-align: center;
  background-color: #ffffff;
}

.features__list {
  @include reset-list();
  padding-top: 85px;
  background-color: #f2f2f2;
}

.features__item {
  padding: 16px 28px 0 28px;
}

.features__image--only-desktop {
  display: none;
}

.features__title {
  margin: 0;
  margin-bottom: 14px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.features__description {
  margin: 0;
  margin-bottom: 14px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: $dark-color;
}

.features__image {
  height: 303px;
  width: 320px;
  margin: 0 auto;
  background-color: #f2f2f2;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 24px;
}

.features__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .feature__slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
  }

  .features__question {
    padding: 45px 37px 0 36px;
    font-size: 40px;
    font-weight: 300;
  }

  .features__answer {
    padding: 0 50px 5px 50px;
    box-sizing: border-box;
    width: 450px;
    font-size: 40px;
    font-weight: 300;
    line-height: 44px;
  }

  .features__wrapper {
    flex-direction: row-reverse;
  }

  .features__image {
    height: 530px;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-position: 40% 100%;
  }

  .features__list {
    min-height: 450px;
  }

  .features__item {
    padding: 16px 23px 0 9px;
  }

  .features__title {
    text-align: left;
    padding-top: 17px;
  }

  .features__description {
    text-align: left;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .features__question {
    padding: 61px 37px 0 36px;
    font-size: 50px;
  }

  .features__answer {
    padding: 2px 5px 5px 7px;
    width: 450px;
    font-size: 50px;
    line-height: 56px;
  }

  .features__image--only-desktop {
    display: block;
  }

  .features__container {
    background-color: #f2f2f2;
  }

  .features__wrapper {
    width: $desktop-width;
    flex-direction: column-reverse;
    margin: 0 auto;
  }

  .features__image-list {
    display: flex;
  }

  .features__image {
    height: 376px;
    width: 320px;
    background-repeat: no-repeat;
    background-position: 50% 100%;
  }

  .features__image--gray {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
  }

  .features__image--pink {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
  }

  .features__image--smile {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
  }

  .features__list {
    display: flex;
    padding-top: 23px;
    min-height: 210px;
  }

  .features__title {
    padding: 17px 19px 0 9px;
    margin-bottom: 23px;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .features__description {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .features__description--1 {
    padding: 0 30px;
  }

  .features__description--2 {
    padding: 0 21px;
  }

  .features__description--3 {
    padding: 0 16px;
  }
}
