.features__question {
  margin: 0;
  padding: 37px 50px 5px 50px;
  font-weight: 300;
  font-size: 24px;
  color: $dark-color;
  text-align: center;
  background-color: #ffffff;
}

.features__answer {
  margin: 0;
  padding: 16px 50px 5px 50px;
  font-weight: 300;
  font-size: 24px;
  color: $dark-color;
  text-align: center;
  background-color: #ffffff;
}

.features__indent {
  display: block;
  width: 100%;
  height: auto;

  background-color: $gray-color;
}

.features__list {
  @include reset-list();
  padding-top: 85px;
}

.features__item {
  padding: 16px 28px 0 28px;
}


.features__title {
  margin: 0;
  margin-bottom: 14px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.features__container {
  position: relative;
  display: flex;
  background-color: $gray-color;

  &::before {
    position: absolute;
    content: "";
    z-index: 5;
    width: 100%;
    height: 61px;

    background-color: #2c394a;
    background-image: url("../img/bg-triangle-white-320.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
  }
}

.features__description {
  margin: 0;
  margin-bottom: 14px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: $dark-color;
}

.features__image {
  display: flex;
  flex-direction: column;

  height: 300px;
  width: 320px;
  margin: 0 auto;
}

.features__image--only-desktop {
  display: none;
}

.features__image-wrapper {
  margin: auto auto 0;
}

.features__image-wrapper img {
  display: block;
}

.features__wrapper {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;

  width: 320px;
  margin: 0 auto;
}

.features__slogan {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .features__slogan {
    width: $tablet-width;
    padding-bottom: 37px;
    align-items: center;
    background-color: #ffffff;
  }

  .features__question {
    padding: 45px 37px 0 36px;

    font-size: 40px;
    font-weight: 300;
  }

  .features__answer {
    padding: 0 50px 5px 50px;
    box-sizing: border-box;
    width: 450px;
    font-size: 40px;
    font-weight: 300;
    line-height: 44px;
  }

  .features__wrapper {
    width: $tablet-width;

    flex-direction: row-reverse;
  }

  .features__image-list {
    align-self: flex-end;
  }

  .features__image {
    height: 496px;
    box-sizing: border-box;
    padding-right: 13px;
  }

  .features__image-wrapper img {
    display: block;
    width: 268px;
    height: auto;
  }

  .features__list {
    padding-top: 51px;
  }

  .features__item {
    padding: 16px 23px 0 9px;
  }

  .features__title {
    text-align: left;
    padding-top: 17px;
  }

  .features__description {
    text-align: left;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .features__container {
    &::before {
      height: 88px;
    }
  }

  .features__question {
    padding: 63px 37px 0 36px;
    font-size: 50px;
  }

  .features__answer {
    padding: 2px 5px 5px 7px;
    width: 450px;
    font-size: 50px;
    line-height: 56px;
  }

  .features__image--only-desktop {
    display: flex;
    flex-direction: column;
  }

  .features__wrapper {
    width: $desktop-width;
    flex-direction: column-reverse;
    margin: 0 auto;
  }

  .features__image-list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__image {
    height: 301px;
    width: 320px;
    padding-right: 0;
  }

  .features__image-wrapper img {
    width: 291px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 23px;
    min-height: 210px;
  }

  .features__item {
    box-sizing: border-box;
    width: 313px;
    padding: 16px 5px 6px;
  }

  .features__title {
    padding: 17px 23px 0 30px;
    margin-bottom: 23px;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .features__description {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .features__description--1 {
    padding: 0 30px;
  }

  .features__description--2 {
    padding: 0 26px 0 41px;
  }

  .features__description--3 {
    padding: 0 20px 0 48px;
  }

  .features__title--1 {
    padding: 17px 23px 0 30px;
  }

  .features__title--2 {
    padding: 17px 8px 0 24px;
  }

  .features__title--3 {
    padding: 17px 23px 0 53px;
  }

  .features__slogan {
    width: $desktop-width;
    padding-bottom: 75px;
  }
}
