.page-header {
  display: flex;
  flex-direction: column;
  background-color: #283645;
}

.page-header__logo {
  display: block;
  padding: 20px 20px;
}

@media (max-width: $desktop-width - 1px) {
  .page-header--closed {
    position: absolute;
    width: 100%;
    background-color: $bg-page-header;
  }

  .page-header--opened {
    position: static;
    background-color: #283645;
  }
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    padding: 41px 20px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: absolute;
    width: 100%;

    background-color: $bg-page-header;
  }

  .page-header__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $desktop-width - 20px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .page-header__logo {
    padding: 41px 0;
    width: 150px;
  }
}
