.page-title {
  display: flex;
  justify-content: center;
  margin-top: -69px;
  min-height: 238px;
  background-color: #2d3a4b;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
}

.page-title__text {
  margin: 0;
  margin-top: 69px;
  box-sizing: border-box;
  width: 220px;
  padding: 25px 10px 5px;
  font-weight: 300;
  font-size: 24px;
  color: $white-text;
  text-align: center;
}


@media (min-width: $tablet-width) {
  .page-title {
    margin-top: -113px;
    min-height: 440px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 0%;
    background-size: auto;
  }

  .page-title__text {
    width: 520px;
    margin-top: 113px;
    padding: 61px 10px 5px;
    font-size: 50px;
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    margin-top: -108px;
    min-height: 391px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: 50% 0;
  }

  .page-title__text {
    margin-top: 2px;
    width: 600px;
    padding: 166px 10px 5px;
  }
}


