.page-header {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  background-color: $dark-color;
}

.page-header__logo {
  display: block;
  padding: 20px 20px 3px;
  width: 150px;
}

.page-header__logo-image {
  color: #ffffff;

  &:hover,
  &:focus {
    color: $tomato-color;
  }

  &:active {
    color: rgba($tomato-color, 0.3);
  }
}

.page-header__logo-mobile {
  display: block;
}

.page-header__logo-tablet {
  display: none;
}

.page-header__logo-desktop {
  display: none;
}

.page-header--closed {
  position: absolute;
  width: 100%;
  background-color: $bg-page-header;
  top: 0;
}

.page-header--opened {
  position: static;
  background-color: #283645;
}

.page-header--nojs {
  position: static;
  background-color: #283645;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    padding: 28px 20px 39px;
  }

  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo-tablet {
    display: block;
  }

  .page-header__logo-desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 100%;

    background-color: $bg-page-header;
  }

  .page-header__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $desktop-width - 20px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .page-header__logo {
    padding: 28px 0 35px;
    width: 150px;
  }

  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo-desktop {
    display: block;
  }

  .page-header--closed,
  .page-header--opened {
    position: absolute;
    background-color: $bg-page-header;
  }
}
