.page-footer {
  background-color: #ffffff;
  outline: 1px solid red;
}

.page-footer__logo {
  outline: 1px solid green;
}

.page-footer__social {
  outline: 1px solid green;
}

.page-footer__copyright {
  outline: 1px solid green;
}
