.picture-loader {
  display: flex;
  flex-direction: column;
}

.picture-loader__image-wrapper {
  margin: 0 auto;
}

.picture-loader__container {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
}

.picture-loader__tools-container {
  display: flex;
  flex-direction: column;
}

.picture-loader__title {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  margin-bottom: 45px;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $dark-color;
  background-color: #ffffff;
}

.picture-loader__title-item {
  text-align: center;
}

.picture-loader__tools-wrapper {
  width: 100%;
  min-height: 752px;

  background-color: #f2f2f2;
}

.picture-loader__tools {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
}

.picture-loader__tools-list {
  @include reset-list();
  display: flex;
  justify-content: space-around;

  margin: 0 auto;
  margin-bottom: 39px;
  padding: 33px 42px 70px 38px;

  box-sizing: border-box;
  width: 320px;

  border-bottom: 0.25px solid #dddfe0;
}

.picture-loader__tools-item {
  position: relative;
}
// .picture-loader__setters-list {
//   @include reset-list();

//   box-sizing: border-box;
//   width: 320px;

//   margin: 0 auto;
//   margin-bottom: 39px;
// }

// .picture-loader__setter {

// }

.picture-loader__slider {
  display: none;
  box-sizing: border-box;
  width: 280px;
  height: 32px;
  margin: 0 auto;
  padding: 15px 20px;
}

.picture-loader__scale {
  position: relative;
  margin: 0;
  padding: 0;
  border: 1px solid $dark-color;
}

.picture-loader__toggle {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid $tomato-color;
  border-radius: 50%;
  top: -7px;
  background-color: #f2f2f2;
  left: 190px;

  &:active {
    background-color: $tomato-color;
  }
}

.picture-loader__setter {
  display: flex;
  flex-direction: column;
}

.picture-loader__setter--active {
  border-bottom: 0.25px solid #dddfe0;
}

.picture-loader__tools-button--active ~ .picture-loader__slider {
  display: block;
  position: absolute;
  padding-bottom: 20px;
  bottom: -53px;
  left: -37px;
}

.picture-loader__tools-button {
  padding: 0;
  width: 48px;
  height: 48px;
  border: none;
  background-color: #f2f2f2;

  color: rgba($dark-color, 0.3);

  &:hover {
    color: rgba($dark-color, 0.5);
  }


  &:focus {
    color: $tomato-color;
    outline: none;
  }

  &:active {
    color: $tomato-color;
  }
}

.picture-loader__tools-button--active {
  color: $tomato-color;
}

.picture-loader__buttons {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 320px;

  padding: 0 20px;
}

.picture-loader__button {
  margin-bottom: 12px;
  padding: 15px 36px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $tomato-color;

  background-color: #f2f2f2;
  border: 3px solid $tomato-color;
  border-radius: 26px;

  &:hover,
  &:focus {
    color: $white-text;
    background-color: $tomato-color;
    outline: none;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $tomato-color;
  }

  &--cancel {
    color: rgba(40, 54, 69, 0.1);
    background-color: #f2f2f2;
    border: 3px solid rgba($dark-color, 0.3);

    &:hover,
    &:focus {
      color: rgba(40, 54, 69, 0.3);
      background-color: #f2f2f2;
      outline: none;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: rgba($dark-color, 0.3);
      border-color: transparent;
    }
  }
}

@media (min-width: $tablet-width) {
  .picture-loader__tools-wrapper {
    min-height: 512px;
  }

  .picture-loader__title {
    padding-top: 31px;
    margin-bottom: 68px;
    font-size: 18px;
    line-height: 30px;
  }

  .picture-loader__image-wrapper {
    margin-top: 8px;
  }

  .picture-loader__image {
    width: 298px;
    min-height: 399px;
  }

  .picture-loader__tools {
    width: $tablet-width - 40px;
    padding-top: 50px;
    padding-bottom: 30px;
    flex-direction: row;
  }

  .picture-loader__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .picture-loader__tools-container {
    flex-direction: column;
  }

  .picture-loader__tools-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 0;
    min-height: 226px;
    width: auto;
    padding-left: 41px;
    padding-right: 0;
    padding-bottom: 50px;
    margin: 0;
    margin-bottom: 8px;

    border-bottom: none;
  }

  .picture-loader__tools-item {
    display: flex;

    margin-bottom: 9px;
    padding-bottom: 4px;
    padding-top: 5px;

    border-bottom: 1px solid #dddfe0;
  }

  .picture-loader__tools-button {
    padding-right: 5px;
    margin-bottom: 5px;

    color: $tomato-color;

    &:hover {
      color: $tomato-color;
    }


    &:focus {
      color: $tomato-color;
      outline: none;
    }

    &:active {
      color: $tomato-color;
    }
  }

  .picture-loader__tools-button svg {
    width: 25px;
    height: 25px;
  }

  .picture-loader__tools-button--contrast svg {
    width: 17px;
    height: 17px;
  }

  .picture-loader__setters-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;

    width: auto;
    margin: 0;
    padding-bottom: 16px;
  }

  .picture-loader__setter {
    display: block;
    padding: 20px 18px 15px 12px;

    border-bottom: 1px solid #dddfe0;
  }

  .picture-loader__tools-button--active ~ .picture-loader__slider {
    position: static;
    padding: 20px 18px 15px 12px;
  }

  .picture-loader__slider {
    display: block;
    flex-grow: 1;
    width: auto;
    margin: 0;
    padding: 20px 18px 15px 12px;
  }


  .picture-loader__toggle {
    left: 145px;
  }

  .picture-loader__buttons {
    padding-top: 0;
    padding-left: 49px;
    padding-right: 13px;
  }

  .picture-loader__button {
    margin-bottom: 24px;
    padding: 15px 36px 15px 32px;
  }
}

@media (min-width: $desktop-width) {
  .picture-loader {
    margin-bottom: 25px;
  }

  .picture-loader__title {
    margin: 0;
    padding: 8px;
    margin-bottom: 55px;
  }

  .picture-loader__tools-wrapper {
    background-color: #ffffff;
  }

  .picture-loader__image-wrapper {
    margin-left: 81px;
  }

  .picture-loader__tools {
    background-color: #f2f2f2;
    width: $desktop-width - 20px;
    margin-bottom: 7px;
  }

  .picture-loader__tools-list {
    padding-left: 91px;
    padding-right: 61px;
    margin-bottom: 88px;
  }

  .picture-loader__slider {
    padding: 22px 18px 15px 12px;
  }

  .picture-loader__tools-button--active ~ .picture-loader__slider {
    padding: 22px 18px 15px 12px;
  }


  .picture-loader__tools-button {
    padding-right: 79px;
  }

  .picture-loader__tools-button svg {
    width: 48px;
    height: 48px;
  }

  .picture-loader__tools-button--contrast svg {
    display: block;
    margin-left: 6px;

    width: 33px;
    height: 33px;
  }

  .picture-loader__tools-item {
    padding-right: 11px;
  }

  .picture-loader__buttons {
    flex-direction: row;
    justify-content: space-between;

    width: auto;

    padding-left: 90px;
    padding-right: 59px;
  }

  .picture-loader__button {
    min-width: 184px;
  }
}
