.prices {
  position: relative;
  background-color: #f2f2f2;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 61px;
    top: -13px;
    background-image: url("../img/bg-triangle-white-320.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.prices__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 73px;
  padding-bottom: 38px;
  min-height: 375px;
  overflow-x: hidden;
}

.prices__list {
  width: calc(100% * 4 - 160px);
  margin-left: calc(-100% * 2 + 100px);
  margin-top: 38px;
  margin-bottom: 30px;
  padding: 1px;

  border-collapse: collapse;
}

.prices__title {
  position: relative;
  border: 2px solid #e5e5e5;
  background-color: $dark-color;
  background-clip: padding-box;

  &--hit::before {
    position: absolute;
    content: "";
    width: 71px;
    height: 71px;

    top: 0;
    left: 0;

    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--hit::after {
    position: absolute;
    content: "ХИТ";
    width: 67px;
    height: 67px;

    top: 0;
    left: 0;

    font-family: inherit;
    font-size: 13px;
    line-height: 21px;
    color: $white-text;

    transform: rotate(-45deg) translate(18px, 10px);
  }
}

.prices__name {
  margin: 0;
  padding: 15px 5px 0 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: $white-text;
  text-align: center;
  text-transform: uppercase;
  background-color: $dark-color;
}

.prices__value {
  margin: 0;
  margin-bottom: 21px;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: $white-text;
  text-align: center;
  background-color: $dark-color;
}

.prices__component {
  position: relative;
  padding: 0;
  text-align: center;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  background-clip: padding-box;
}

.prices__component-value {
  box-sizing: border-box;
  width: 278px;
  padding-left: 21px;
  text-align: left;
  font-size: 14px;
  line-height: 30px;
  color: $dark-color;
  background-color: #ffffff;
  text-transform: uppercase;
}

.prices__component--checked {
  &::after {
    position: absolute;
    content: "";
    width: 27px;
    height: 27px;
    top: 19px;
    right: 18px;
    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.prices__component--unchecked {
  &::after {
    position: absolute;
    content: "";
    width: 27px;
    height: 27px;
    top: 15px;
    right: 20px;
    background-image: url("../img/icon-no.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.prices__toggles-list {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  width: 320px;
  margin: 0 auto;
  padding: 6px 124px 6px 124px;
}

.prices__toggle {
  position: relative;
  width: 21px;
  height: 21px;

  background-color: transparent;
  border: none;

  &::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;

    top: calc(50% - 3px);
    left: calc(50% - 3px);

    border-radius: 50%;
    background-color: rgba($dark-color, 0.3);
  }

  &:hover::after,
  &:focus::after {
    background-color: rgba($dark-color, 0.6);
  }

  &:focus {
    outline: none;
  }

  &:active::after {
    background-color: rgba($dark-color, 0.1);
  }
}

.prices__toggle--active {
  &::after {
    width: 6px;
    height: 6px;

    top: calc(50% - 6px);
    left: calc(50% - 6px);

    background-color: transparent;
    border: 3px solid $dark-color;
  }

  &:hover::after,
  &:focus::after {
    background-color: transparent;
  }

  &:focus {
    outline: none;
  }

  &:active::after {
    background-color: transparent;
  }
}

@media (min-width: $tablet-width) {
  .prices {
    &::before {
      height: 61px;
      top: -5px;
    }
  }

  .prices__wrapper {
    width: $tablet-width;
    min-height: 0;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 69px;
    flex-direction: row;
    overflow-x: visible;
  }

  .prices__list {
    position: static;
    width: calc(100% - 40px);
    margin: 0 18px 0 21px;
    left: auto;
    top: auto;
    border-collapse: collapse;
  }

  .prices__component-value {
    box-sizing: content-box;
    padding: 5px 5px 7px 15px;
    margin: 0;
    width: auto;
    visibility: hidden;
    text-transform: none;
  }

  .prices__component-value--header {
    visibility: visible;
    padding: 5px 5px 10px 15px;
  }

  .prices__title--empty {
    background-color: #f2f2f2;
    border: none;
  }

  .prices__title {
    &--hit::before {
      position: absolute;
      content: "";
      width: 60px;
      height: 60px;

      background-image: url("../img/bg-hit-tablet.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--hit::after {
      position: absolute;
      content: "ХИТ";
      width: 67px;
      height: 67px;

      top: 0;
      left: 0;

      font-family: inherit;
      font-size: 13px;
      line-height: 21px;
      color: $white-text;

      transform: rotate(-45deg) translate(20px, 4px);
    }
  }

  .prices__name {
    padding: 12px 5px 0 5px;
    font-size: 16px;
    line-height: 30px;
  }

  .prices__value {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
  }

  .prices__component--unchecked {
    &::after {
      top: 9px;
      right: 61px;
    }
  }

  .prices__component--checked {
    &::after {
      top: 13px;
      right: 62px;
    }
  }

  .prices__toggles-list {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .prices {
    &::before {
      height: calc(100vw * 0.104);
      top: 0;
    }
  }

  .prices__wrapper {
    width: $desktop-width;
    padding-top: 132px;
    padding-bottom: 97px;
  }

  .prices__list {
    width: calc(100% - 20px);
    margin: 37px 10px 0 10px;
  }

  .prices__title {
    &--hit::before {
      position: absolute;
      content: "";
      width: 71px;
      height: 71px;

      background-image: url("../img/bg-hit.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--hit::after {
      position: absolute;
      content: "ХИТ";
      width: 67px;
      height: 67px;

      top: 0;
      left: 0;

      font-family: inherit;
      font-size: 13px;
      line-height: 21px;
      color: $white-text;

      transform: rotate(-45deg) translate(20px, 10px);
    }
  }

  .prices__name {
    padding: 12px 5px 0 5px;
    font-size: 18px;
  }

  .prices__value {
    margin-bottom: 21px;
    font-size: 24px;
  }

  .prices__component-value {
    padding: 12px 5px 17px 19px;
    font-size: 18px;
    line-height: 30px;
  }

  .prices__component--unchecked {
    &::after {
      top: 15px;
      right: 104px;
    }
  }

  .prices__component--checked {
    &::after {
      top: 21px;
      right: 103px;
    }
  }
}
