.progress {
  @include reset-list();
}

.progress__title {
  display: block;
  position: relative;
  padding: 7px 0 7px 68px;
  margin-bottom: 38px;

  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.progress__value + .progress__title {
  &::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    top: 5px;
    left: -2px;
    border: 2px solid #e5e5e5;
  }

  &:hover::before,
  &:focus::before {
    border: 2px solid #283645;
  }

  &:active::before {
    border: 2px solid $tomato-color;
  }
}

.progress__value:checked + .progress__title {
  &::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    top: 5px;
    left: -2px;
    border: 2px solid #e5e5e5;
    background-image: url("../img/icon-yes-tomato.svg");
    background-repeat: no-repeat;
    background-position: 7px 8px;
  }

  &:hover::before,
  &:focus::before {
    border: 2px solid #283645;
  }

  &:active::before {
    border: 2px solid $tomato-color;
  }
}

@media (min-width: $tablet-width) {
  .progress {
    padding-top: 6px;
  }

  .progress__item {
    margin: 0 41px;
  }

  .progress__title {
    padding-left: 57px;
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .progress {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 4px 0 7px 39px;
    // padding-top: 4px;
    // padding-left: 39px;
    // padding-right: 0;
    // padding-bottom: 7px;
  }

  .progress__item {
    margin: 0;
    margin-right: 46px;
    width: 260px;

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 4;
    }

    &:nth-child(3) {
      order: 2;
    }

    &:nth-child(4) {
      order: 5;
    }

    &:nth-child(5) {
      order: 3;
      margin-right: 0;
    }

    &:nth-child(6) {
      order: 6;
      margin-right: 0;
    }
  }

  .progress__title {
    font-size: 18px;
  }
}
