.reviews__list {
  background-color: #ffffff;
}

.reviews__author {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  color: #000000;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}
